body {
    background: rgb(0, 48, 73); 
    color: white; 
    font-family: 'Raleway';
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  height: 2px; 
  background-color: #cd202c; 
  height: 1px; 
  border: 0; 
}

p {
  margin-bottom: 5px; 
}

div p:hover {
  color: #cd202c;
  cursor: pointer; 
}


a {
  cursor: pointer; 
}


.row {
    justify-content: center;   
}


.headers {
    justify-content: center;
    text-align: center; 
    margin-left: 3px; 
    margin-right: 3px; 
}


  .navbar {
      background: rgba(0, 48, 73, 0.92); 
  }

  .btn {
      background: rgb(0, 48, 73); 
      color: white; 
      margin-top: 10px; 
  }

  .radioButtons {
      margin-top: 5px; 
      margin-right: 5px; 
  }

  .container{
    justify-content: center; 
    width: 25%;
    margin-top: 20px; 
  }

.border{
    padding-top: 10px; 
    padding-bottom: 10px;
    border-color: #cd202c;
    background-color: white; 
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    margin-bottom: 10px; 
}

.btn:hover {
    background-color: #cd202c
  }

  .dropdown-item {
    background-color: white; 
  }

  .dropdown-item:hover {
    background-color: #cd202c
  }

.indent1{
  text-indent: 10px; 
}

.indent2{
  text-indent: 30px; 
}

.rounded-circle {
  width: 45px; 
  height: 45px;  
  margin-right: 15px; 
}

.red {
  background: red;
  color: black;  
  border-radius: 25%;  
  font-weight: 700;
  padding-top: 8px; 
}

.green {
  background: rgb(7,190, 50); 
  color: black; 
  border-radius: 25%;  
  font-weight: 700;
  padding-top: 8px; 
}
.yellow{
  background: rgb(249, 203, 21); 
  color: black;  
  border-radius: 25%;  
  font-weight: 700;
  padding-top: 8px; 
}

.back-btn {
  margin-top: 50px; 
}

.thanks {
  margin-top: 100px; 
  border-bottom: 2px solid #cd202c; 
}

#mainNavbar {
  margin-right: 0px;
  margin-left: 0px; 
  padding-left: 0px; 
  padding-right: 0px; 
}

#adminContainer{
  justify-content: left; 
  justify-items: left; 
  width: 25%;
  margin-top: 20px; 
}







